// Kolory
$lp-primary-color: #3F51B5;
$lp-dark-primary-color: #303F9F;
$lp-accent-color: #ff5722;
$lp-black: #000000;
$lp-white: #FFFFFF;
$lp-primary-text-color: $lp-black;
$lp-secondary-text-color: #727272;
$lp-70p-white: rgba($lp-white,0.7);
$lp-87p-black: rgba($lp-black,0.87);
$lp-divider-color: #B6B6B6;

// Rozmiary
$lp-top-menu-h: 60px; 